*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}
section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p{
    font-weight: 500;
    margin-bottom: 15px;
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50px;
    width: 100px;
    background-color: white;
}

section img{
    height: 100%;
}

section:nth-child(1){
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

section:nth-child(2){
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

section:nth-child(3){
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
